#naslov{
    height: 60px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#prog{
    height: 40px;
    background-color: #F0F0F0;
    margin-bottom: 20px;
}

#homeLocation{
    font-size: 15px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.dot{
    height: 16px;
    width: 16px;
}

#countrydiv{
    height: 68px;
    margin-left: 20px;
}

#language{
    height: 68px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#guide{
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 191px;
}

#bn{
    height: 80px;
}