#naslov{
    height: 60px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#prog{
    height: 40px;
    background-color: #F0F0F0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin: 0 0;
    margin-bottom: 20px;
}

.dot{
    height: 16px;
    width: 16px;
}

#big{
    margin-right: 40px;
    margin-left: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

#select{
    margin-bottom: 17px;
}

#rve{
    height: 40px;
}

#rvnoc{
    height: 40px;
    margin-bottom: 10px;
}

#by{
    margin-bottom: 5px;
}

#dul{
    margin-bottom: 132px;
    margin-left: 15px;
}

#bn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
    padding: 0 20px;
}

#back{
    height: 40px;
    width: 78px;
    background-color: white;
    border: 1px solid #c8c8c8;
}

#back:hover{
    cursor: pointer;
}

#next{
    height: 40px;
    width: 78px;
    background-color: #3e66d5;
    border: none;
    color: white;
}

#next:hover{
    cursor: pointer;
}